@*@page "/Candidates"*@
@page "/Candidates/{Page:int?}"
@page "/Candidates/Index/{Page:int?}"
@page "/Candidates/List/{Page:int?}"

@*@inject CandidateAppDbContext _Context*@
@inject IDbContextFactory<CandidateAppDbContext> _ContextFactory
@inject NavigationManager _NavigationManager

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@inject ProtectedLocalStorage ProtectedLocalStore

@inject IJSRuntime JSRuntime

<PageTitle>Candidate List</PageTitle>

<h1>Index</h1>

<p>
    <a href="/Candidates/Create">Create New</a>
</p>

@if (Candidates is null)
{
    <div>Loading...</div>
}
else
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    FirstName
                </th>
                <th>
                    LastName
                </th>
                <th>
                    Is Enrollment
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Candidates)
            {
                <tr>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        <input class="check-box" disabled="disabled" type="checkbox" checked="@item.IsEnrollment" />
                    </td>
                    <td>
                        <a href="/Candidates/Edit/@item.Id" class="btn btn-primary btn-sm">Edit</a> |

                        <input type="button" class="btn btn-danger btn-sm" value="Delete"
                       @onclick="() => DeleteBy(item)" />
                    </td>
                </tr>
            }


        </tbody>
    </table>
    <ul class="pagination">
        <li class="page-item @((Page == 1) ? "disabled" : "")">
            <a class="page-link" href="/Candidates/@(Page -1)">Prev</a>
        </li>
        @{
            int start = PageIndex / (int)5 * 5 + 1;
            int end = (PageIndex / (int)5 + 1) * 5;
        }
        @for (int i = start; i <= end; i++)
        {
            var currentNumber = i;

            if (i > PageCount)
            {
                break;
            }
            <li class="page-item @((i == Page) ? "active" : "")">
                <a class="page-link" href="/Candidates/@(i)">@(i)</a>
            </li>
        }
        <li class="page-item @((Page == PageCount) ? "disabled" : "")">
            <a class="page-link" href="/Candidates/@(Page +1)">Prev</a>
        </li>
    </ul>
}


@code {
    //model or collection on the current page
    private Candidate[]? Candidates { get; set; }

    public int PageSize { get; set; } = 4;

    [Parameter]
    public int? Page { get; set; } //PageNumber

    public int PageIndex { get; set; }

    public int PageCount { get; set; } = 3;

    public int RecordCount { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await DisplayData();
    }
    private async Task DisplayData()
    {
        if (Page is null or < 1)
        {
            //Page = 1;
            _NavigationManager.NavigateTo("/Candidates/1");
            return;
        }

        PageIndex = Page.Value - 1;
        //Candidates = await _Context.Candidates.ToArrayAsync();
        using var context = _ContextFactory.CreateDbContext();
        RecordCount = await context.Candidates.CountAsync();
        PageCount = Convert.ToInt32(Math.Ceiling(RecordCount / (double)PageSize));
        if (PageCount == 0)
        {
            PageCount = 1;
        }

        if (Page > PageCount)
        {
            _NavigationManager.NavigateTo($"/Candidates/{PageCount}");
            return;
        }



        Candidates = await context.Candidates
            .OrderBy(it => it.FirstName)
            .Skip(PageIndex * PageSize)
            .Take(PageSize)
            .ToArrayAsync();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Page is not null)
        {
            await ProtectedLocalStore.SetAsync("Page", Page.Value);
        }

    }
    protected async Task DeleteBy(Candidate model)
    {
        bool isDelete = await JSRuntime.InvokeAsync<bool>(
            "confirm", "Are you sure you want to delete this?");
        if (isDelete)
        {
            try
            {
                using var context = _ContextFactory.CreateDbContext();
                context.Candidates.Remove(model);
                await context.SaveChangesAsync();
            }
            catch (DbUpdateConcurrencyException)
            {
                //Empty
            }
            
            await DisplayData();
        }



    }

}
